@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
html,
body{
    height: 100%;
}
body{
    background-color: #DDE7F9;
}
#root{
    height: 100%;
}


.bg-primary{
background-color: black !important;
}
.text-primary{
    color: black!important;
}
.btn-primary{
    background-color: black !important;
    border-color: black !important;
}